# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
notification-server

# Local builds
/bin/
/build/
/dist/

# Go cache
/go/pkg
*.a

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Docker
*.env
