stages:
  - build

docker-build:
  image: docker:latest
  stage: build

  before_script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

  script:
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        TAG="latest"
      else
        TAG="$CI_COMMIT_REF_NAME"
      fi

      docker build -t "$CI_REGISTRY_IMAGE:$TAG" .
      docker push "$CI_REGISTRY_IMAGE:$TAG"

  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile

  tags:
    - docker
