services:

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - neosoft-net

      
  notification-service:
    build: .
    container_name: notification-service
    ports:
      - "8081:8081"
    restart: always
    networks:
      - neosoft-net

networks:
  neosoft-net:
    driver: bridge